@use '../../../styles/mixins' as m;

$white-bg: #f9f9f9;
$form-border: #ccc;

main {
  @include m.page-layout(30px, auto);
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $form-border;
  border-radius: 8px;
  background-color: $white-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.first-row, .second-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: space-between;

  input[type="text"] {
    width: 320px;
  }

  input[type="number"] {
    width: 310px;
  }

  input[type="date"] {
    width: 310px;
  }

  select, ::picker(select) {
    appearance: none;
    width: 320px;
    overflow: hidden;
  }

  ::picker(select) {
    text-overflow: ellipsis;
    border: 0;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  option {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }

  .first-row, .second-row {
    flex-direction: column;
    gap: 10px;

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
      width: 80%;
    }
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }

  .first-row, .second-row {
    flex-direction: column;
    gap: 10px;

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
      width: 80%;
    }
  }
}