@use '../../../styles/mixins' as m;

$white-bg: #f9f9f9;
$form-border: #ccc;

main {
  @include m.page-layout(50px, auto);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $form-border;
  border-radius: 8px;
  background-color: $white-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }
}