@use '../../../styles/mixins' as m;

main {
  @include m.page-layout(30px, auto);
  display: flex;
  justify-content: center;
  padding-left: 110px;
  padding-right: 110px;
}

.account-settings-panel {
  padding: 10px;
  height: auto;
  box-sizing: border-box;   
  width: 100%;
  max-width: 100%;
}

.outer-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  margin: 0 0;
  
  .card-body {
    padding: 40px;
  }
}

.account-form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.first-row {
  display: flex;
  flex-direction: row;
  gap: 2em;

  .first-row-input {
    flex: 1 1 0;
    min-width: 0;
  }
}

.second-row {
  display: flex;
  flex-direction: column;
}

.third-row {
  display: flex;
  flex-direction:column;
}

.fourth-row {
  display: flex;
  flex-direction: column;
}

.fifth-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 10px;

  .fifth-row-input {
    flex: 1 1 0;
    min-width: 0;
  }
}

@media(max-width: 320px) {
  main {
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  form {
    gap: 10px;
    padding: 10px !important;
  }

  label {
    font-size: 14px;
  }

  .card-body {
    padding: 5px !important;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  main {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  form {
    gap: 15px;
    padding: 15px !important;
  }

  label {
    font-size: 14px;
  }

  .card-body {
    padding: 10px !important;
  }
}

@media (min-width: 377px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  form {
    gap: 20px;
    padding: 20px !important;
  }

  label {
    font-size: 16px;
  }

  .card-body {
    padding: 15px !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
}