$card-drop-shadow: #00000040;

.income-chart-container {
  padding: 10px;
  box-shadow: 5px 5px $card-drop-shadow;
}

h4 {
  text-align: center;
}

@media (max-width: 320px) {
  .income-chart-container {
    width: 100%;
    padding: 0;
    box-shadow: 3px 3px $card-drop-shadow;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .income-chart-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}