$card-drop-shadow: #00000040;

.income-chart-container {
  padding: 10px;
  box-shadow: 2px 2px 2px $card-drop-shadow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-top: 5px;
  max-width: 230px;
}

@media (max-width: 320px) {
  .income-chart-container {
    width: 100%;
    padding: 0;
    box-shadow: 3px 3px $card-drop-shadow;
  }

  .chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .income-chart-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chart-wrapper {
    height: 90%;
    width: 90%;
  } 
}