$sidebar-width: 100px;
$background-color: #c9cefa;

.settings-container {
  margin-left: $sidebar-width; 
  padding: 10px;
  height: auto;
  background-color: $background-color;
  box-sizing: border-box;   
  width: 100%;
  max-width: 100%;
}

.account-form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.first-row {
  display: flex;
  flex-direction: row;
  gap: 2em;

  .first-row-input {
    flex: 1 1 0;
    min-width: 0;
  }
}

.second-row {
  display: flex;
  flex-direction: column;
}

.third-row {
  display: flex;
  flex-direction:column;
}

.fourth-row {
  display: flex;
  flex-direction: column;
}

.fifth-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 10px;

  .fifth-row-input {
    flex: 1 1 0;
    min-width: 0;
  }
}

.security-form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1em;
}

.first-panel,
.second-panel,
.third-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.first-panel {
  grid-area: first-panel;
}

.second-panel {
  grid-area: second-panel;
}

.third-panel {
  grid-area: third-panel;
}

@media (min-width: 320px) and (max-width: 768px) {
  .settings-container {
    margin-left: 0 !important;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
      "first-panel"
      "second-panel"
      "third-panel";
    box-sizing: border-box;
  }

  .first-panel,
  .second-panel,
  .third-panel {
    flex-direction: column;
    gap: 20px;
    width: 100%;   
    margin-left: 0;
    padding: 0;
  }

  .card.w-50 {
    width: 100% !important;
    max-width: 100%;
  }

  .card.h-50 {
    height: auto !important;
    min-height: auto;
  }

  .first-row, .fifth-row {
    flex-direction: column;
    gap: 0.75rem;
  }
}