@use '../../styles/mixins' as m;

$sidebar-width: 100px;

main {
  @include m.page-layout(30px, auto);
  padding-left: calc($sidebar-width + 20px + 100px);
  padding-right: 120px;
  min-height: 100%;
}

.first-panel,
.second-panel,
.third-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.first-panel {
  grid-area: first-panel;
}

.second-panel {
  grid-area: second-panel;
}

.third-panel {
  grid-area: third-panel;
}

@media (min-width: 320px) and (max-width: 768px) {
  .settings-container {
    margin-left: 0 !important;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
      "first-panel"
      "second-panel"
      "third-panel";
    box-sizing: border-box;
  }

  .first-panel,
  .second-panel,
  .third-panel {
    flex-direction: column;
    gap: 20px;
    width: 100%;   
    margin-left: 0;
    padding: 0;
  }

  .card.w-50 {
    width: 100% !important;
    max-width: 100%;
  }

  .card.h-50 {
    height: auto !important;
    min-height: auto;
  }

  .first-row, .fifth-row {
    flex-direction: column;
    gap: 0.75rem;
  }
}