/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/patua-one');

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

@media (max-width: 320px) {
  html, body {
    height: auto;
    width: auto;
  }
}
