@use '../../styles/mixins' as m;

$card-color: #fff;
$border-color: #ccc;
$box-shadow-definition: 2px 2px 8px rgba(0, 0, 0, 0.1);

main {
  @include m.page-layout(10px, auto);
}

.inner-wrapper  {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.actions-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.savings-container {
  display: flex;
  justify-content:  flex-start;
  align-items: flex-start;
  gap: .5em;
  flex-wrap: wrap;
}

.no-savings-message {
  font-size: 1rem;
  color: #666;
  margin: auto;
}

.card {
  width: 20.5rem;

  &:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
}

.card-header {
  padding: 20px;
}

.card-title {
  margin-bottom: 0;
}

.card-text {
  color: #666;
}

.card-body {
  height: 200px;
  // max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;

  h6 {
    color: #333;
    font-size: 14px;
    margin-bottom: 0;
  }

  p:nth-child(2) {
    color: #333;
    font-size: 14px;
  }
}

.toast-container {
  position: fixed;
  top: 500px;
  right: 15px;
  z-index: 9999;
  padding: 10px;
  animation: slideIn 0.3s ease-out;
}

.toast-body {
  i.fa-check-circle {
    color: #4caf50;
    font-size: 1.2rem;
    margin-right: 5px;
  }

  i.bi-x-circle-fill  {
    color: #f44336;
  }

  span {
    font-size: 0.95rem;
    font-weight: 500;
  }
}

.toast-container.hide {
  animation: slideOut 0.5s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
  }

  .inner-wrapper {
    padding: 15px;
  }

  .actions-container {
    flex-direction: column;
    gap: 10px;

    div:nth-child(2) {
      justify-content: flex-start;
    }
  }

  .savings-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 0 !important;
    width: 250px;
    max-width: 100%;
  }

  .toast-container {
    top: auto;
    bottom: 15px;
    left: 0;
  }
}

/* Ensure toast is visible on Mobile M, L, and Tablets */
@media (max-width: 992px) {
  .toast-container {
    top: auto;
    bottom: 15px;
    right: 15px;
    left: 0;
    z-index: 1300;
  }
}

// Tablet and Medium Devices
@media (min-width: 321px) and (max-width: 768px) {
  main {
    margin-left: 0;
  }

  .inner-wrapper {
    padding: 20px;
  }

  .actions-container {
    padding: 20px;
    flex-direction: column;
  }

  .savings-container {
    justify-content: center;
  }
}