@use '../../styles/mixins' as m;

$card-color: #fff;
$border-color: #ccc;

main {
  @include m.page-layout(50px, auto);
}

.inner-wrapper  {
  display: flex;
  flex-direction: column;
  background-color: $card-color;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid $border-color;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.actions-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.savings-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
}