$background-color: #F9FAFB;
$sidebar-width: 80px;

.categories-container {
  margin-left: $sidebar-width;
  padding: 10px;
  height: 100%;
  background-color: $background-color;
}

@media (max-width: 768px) {
  .categories-container {
    height: 100%;
    margin-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .categories-container {
    margin-left: $sidebar-width;
    height: 100vh;
  }
}