$header-bg: #ffffff;
$header-margin-left: 100px;
$header-height: 70px;

.sub-header-wrapper {
  background-color: $header-bg;
  padding: 15px 15px 0 15px;
  margin-left: $header-margin-left;
  margin-top: $header-height;
}

.sub-header-selections {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-left: 20px;
}

.selection-container {
  width: fit-content;
  padding: 5px 8px;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition: border-bottom 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: #6f42c1;  
    border-bottom: 2px solid #6f42c1;
  }

  &:active {
    color: #6f42c1;
    border-bottom: 2px solid #6f42c1;
  }

  &.active {
    color: #6f42c1;

    a {
      color: #6f42c1;
    }

    border-bottom: 2px solid #6f42c1;
  }
}

a {
  color: black;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #6f42c1;  
  }
}

@media (max-width: 768px) {
  .sub-header-wrapper {
    margin-left: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
  }

  .sub-header-selections {
    gap: 2em;
    margin-left: 10px;

    a {
      font-size: 14px;
      text-align: center;
    }
  }
}