$card-drop-shadow: #00000040;

.chart-container {
  padding: 10px;
  box-shadow: 5px 5px $card-drop-shadow;
}

h4 {
  text-align: center;
}

@media (max-width: 320px) {
  .chart-container {
    width: 100%;
    padding: 0;
    box-shadow: 3px 3px $card-drop-shadow;
  }
}