@use '../../../styles/mixins' as m;

main {
  @include m.page-layout(70px, auto);
}

.card {
  
  .card-header {
    padding: 20px;
  }

  .card-body {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    padding: 20px;
  }
}

.history-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 321px) and (max-width: 426px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: row;
    gap: 10px;
  }
}