@use '../../../styles/mixins' as m;

main {
  @include m.page-layout(70px, auto);
}

.card {
  
  .card-header {
    padding: 20px;
  }

  .card-body {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    padding: 20px;
    height: 290px;
    max-height: 300px;

    span {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.history-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-cards {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.info-card {
  width: 13.8rem;
  max-width: 13.8rem;
}

.app-saving-progress-container {
  width: 100%;
}

.information-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.bi-arrow-return-left {
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: #ccc;
    transition: color 0.3s ease-in-out;
  }
}

.table {
  .actions {
    button {
      font-size: 0.9rem;
      padding: 5px 10px;
    }
  }

  th {
    font-weight: 600;
  }

  tr {
    td {
      vertical-align: middle;
    }
  }

  // base cells transition
  tbody tr > * {
    transition: background-color .3s ease-in-out;
  }

  tbody tr:hover > * {
    background-color: #e1e1e1 !important;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 321px) and (max-width: 426px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .card {
    .card-body {
      flex-direction: column;
      gap: 1em;
    }
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    flex-direction: row;
    gap: 10px;
  }
}