$green-bg: #198754;
$blue-bg: #0d6efd;
$info-bg: rgb(13, 202, 240);

.card {
  margin: 0 20px;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .expense-container {
    display: flex;
    flex-direction: column;
  }

  .budget-container {
    display: flex;
    flex-direction: column;
  }

  .expense-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4em;
  }

  .green-progress-color {
    background-color: $green-bg;
    width: 5px;
    height: 15px;
    display: block;
  }

  .blue-progress-color {
    background-color: $blue-bg;
    width: 5px;
    height: 15px;
    display: block;
  }

  .info-progress-color {
    background-color: $info-bg;
    width: 5px;
    height: 15px;
    display: block;
  }

  .yellow-progress-color {
    background-color: var(--bs-yellow);
    width: 5px;
    height: 15px;
    display: block;
  }
}