$green-bg: #198754;
$blue-bg: #0d6efd;
$info-bg: rgb(13, 202, 240);

.budgets-panel-container {
  height: 100%;
}

.card {
  margin: 0 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.kpi-wrapper {
  grid-area: item1;
}

.date-wrapper {
  grid-area: item2;
}

.expenses-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: item3;
}

// .income-wrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 1em;
//   grid-area: item3;
// }

.budgets-panel-container {
  display: grid;
  grid-template-areas:
    'item1'
    'item2'
    'item3';
  grid-gap: 20px;
  margin: 20px;
}
