@use "../../../../styles/mixins" as m;

main {
  @include m.page-layout(30px);
  height: auto;
}

.expenses-history-container {
  margin: 30px 50px;

  div:nth-child(1) {
    margin-bottom: 10px;
  }
}

.title-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}