$card-drop-shadow: #00000040;

.table-container {
  height: 340px;
  width: 100%;
  max-width: 357px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 5px 5px $card-drop-shadow;
  padding: 20px;
}

.card-header {
  position: sticky;
  top: 20px;
  margin-bottom: 0;
  z-index: 10;
  background-color: white;
  padding-bottom: 10px;
  text-align: center;
}

table th {
  position: sticky;
  top: 70px;
  z-index: 5;
}

@media (max-width: 320px) {
  .table-container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
  }

  .card-header {
    top: 18px;
    left: 18px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .table-container {
    width: 90%;
    height: 300px;
    box-shadow: 3px 3px $card-drop-shadow;
    margin: 0 auto;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}