$page-margin-left: 100px;
$background-color: #E8E9EB;

@mixin page-layout($padding: 10px, $page-height: 100%) {
  margin-left: $page-margin-left;
  background-color: $background-color;
  padding: $padding;
  height: $page-height;
  min-height: 100vh;
}