@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$page-margin-left: 100px;
$background-color: #c9cefa;

@mixin page-layout($padding: 10px, $page-height: 100%) {
  margin-left: $page-margin-left;
  background-color: $background-color;
  padding: $padding;
  height: $page-height;
  min-height: 100vh;
}