@use '../../../styles/mixins' as m;

main {
  @include m.page-layout(30px, auto);
  padding-left: 120px;
  padding-right: 120px;
  display: grid;
  grid-template-areas:
    "third-panel third-panel"
    "security-settings-panel privacy-panel";
  gap: 1em;
  margin-top: 0;
}

.privacy-panel {
  grid-area: privacy-panel;
}

.privacy-panel { 

  .card-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.security-settings-panel {
  grid-area: security-settings-panel;
}

.third-panel {
  grid-area: third-panel;
  margin-top: 2%;
}

.security-form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1em;
}

.card {
  box-sizing: border-box;   
  width: 100%;
  max-width: 100%;
  margin-top: 70px;
}

.privacy-panel > .card {
  margin-top: 0px;
}

@media (max-width: 320px) {
  main {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
    grid-template-areas: 
      "third-panel"
      "security-settings-panel"
      "privacy-panel";
  }
}

@media (max-width: 1025px) {
  .third-panel {
    height: 5px !important;
  }

  .card {
    margin-top:70px;
  }
}

@media (min-width: 1025px) {
  main {
    grid-template-areas:
      "third-panel third-panel"
      "security-settings-panel privacy-panel";
  }

  .card {
    margin-top: 0;
  }
}