.kpi-panel-container {
  margin: 10px 50px;
}

.budget-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;

  div:nth-child(1), div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.progress-container {
  position: relative;
  display: inline-block;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.card-footer {
  height: 40px;
}

.placeholder-style-sm {
  height: 20px;
  border-radius: 8px;
}

.placeholder-style {
  height: 100px;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 424px) {
  .card-footer {
    gap: 18px;
  }
}

@media (max-width: 768px) {
  .kpi-panel-container {
    margin: 10px 10px;
  }

  .budget-info-wrapper {
    flex-direction: column-reverse;
    padding: 20px 20px;
    gap: 20px;
  }

  .card-footer {
    gap: 16px;
  }
}