.kpi-panel-container {
  margin: 10px 50px;
}

.budget-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.progress-container {
  position: relative;
  display: inline-block;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.card-footer {
  gap: 50px;
}

@media(max-width: 768px) {
  .kpi-panel-container {
    margin: 10px 10px;
  }

  .budget-info-wrapper {
    flex-direction: column-reverse;
    padding: 20px 20px;
    gap: 20px;
  }

  .card-footer {
    gap: 5px;
  }
}

@media(min-width: 425px) and (max-width: 768px) {
  .card-footer {
    gap: 50px;
  }
}