$header-bg: #ffffff;
$header-margin-left: 100px;
$border-color: #d3d3d3;
$icon-hovered-color: #0034e0;
$card-drop-shadow: #00000040;

.header-container {
  height: 70px;
  background-color: $header-bg;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3vw;
  padding: 0 20px;
  margin-left: $header-margin-left;
  border-bottom: $border-color 1px solid;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  margin-right: auto;
}

.about-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-right: 1px solid $border-color;

  i {
    font-weight: 600;
  }

  p {
    margin: 0;
    font-weight: 400;
  }
}

.notifications-nav {
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
  }

  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
}

.nav-link {
  padding: 5px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $icon-hovered-color;
    transform: scale(1.1);
  }

  &.active {
    box-shadow: 0 4px 8px $card-drop-shadow;
    border-radius: 50%;
    color: $icon-hovered-color;
  }
}

@media (max-width: 768px) {
  .header-container {
    margin-left: 0;
  }

  .menu-toggle {
    display: block;
  }

  .about-nav {
    display: none;
  }
}
