$background-color: #c9cefa;
$card-drop-shadow: #00000040;
$page-margin-left: 100px;

.content-container {
  margin-left: $page-margin-left;
  padding: 10px;
  background-color: $background-color;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "item1 item1 item1"
  "item2 item3 item4"; 
}

.card {
  width: 95%;
  height: 12em;
  max-height: 12em;
  box-shadow: 5px 4px $card-drop-shadow;
  grid-area: item1;
  margin: 0 auto;
  align-self: start;
}

.chart-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: item2;
}

.income-chart-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: item3
}

.history-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: item4;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.budget-num-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4"; 
    gap: 3em;
    height: 100%;
    width: auto;
    justify-content: center;
  }

  .card {
    width: 85%;
    height: 10em;
    max-height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chart-panel {
    height: auto;
    width: auto;
  }

  .income-chart-panel {
    height: auto;
    width: auto;
  }

  .history-panel {
    width: auto;
    height: auto;
  }

  .budget-info-container {
    text-align: center;
    grid-area: header-part;
  }

  .budget-num-container {
    text-align: center;
    grid-area: content-part;

    h3 {
      margin-bottom: 0;
    }
  }

  .card-body {
    display: grid;
    grid-template-areas:
      "header-part"
      "content-part";
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content-container {
    margin-left: $page-margin-left;
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4"; 
    height: 100%;
    width: 90%;
    align-items: start;
  }

  .card {
    width: 100%;
    height: 11em;
    max-height: 11em;
    margin: auto;
  }

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .chart-panel {
    height: auto;
    width: auto;
  }

  .income-chart-panel {
    height: auto;
    width: auto;
  }

  .history-panel {
    width: auto;
    height: auto;
  }
}