@use 'mixins' as m;

$card-drop-shadow: #00000040;
$page-margin-left: 100px;

main {
  @include m.page-layout(10px, auto);
}

.content-container {
  padding: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "item1 item1"
  "item2 item3"
  "item4 item4";
  gap: 2em;
}

.card {
  width: 95%;
  height: 12em;
  max-height: 12em;
  box-shadow: 2px 2px 3px $card-drop-shadow;
  grid-area: item1;
  margin: 0 auto;
  align-self: start;
}

.expense-chart-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: item2;
}

.income-chart-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: item3;
}

.spending-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: item4;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.budget-num-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4"; 
    gap: 3em;
    height: 100%;
    width: auto;
    justify-content: center;
  }

  .card {
    width: 85%;
    height: 10em;
    max-height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .expense-chart-panel {
    height: auto;
    width: auto;
  }

  .income-chart-panel {
    height: auto;
    width: auto;
  }

  .history-panel {
    width: auto;
    height: auto;
  }

  .budget-info-container {
    text-align: center;
    grid-area: header-part;
  }

  .budget-num-container {
    text-align: center;
    grid-area: content-part;

    h3 {
      margin-bottom: 0;
    }
  }

  .card-body {
    display: grid;
    grid-template-areas:
      "header-part"
      "content-part";
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  main {
    @include m.page-layout(10px, 100%);
  }

  .content-container {
    // margin-left: $page-margin-left;
    grid-template-areas: 
    "item1 item1"
    "item2 item3"; 
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .card {
    width: 100%;
    height: 11em;
    max-height: 11em;
    margin: auto;
  }

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .expense-chart-panel {
    height: auto;
    width: auto;
  }

  .income-chart-panel {
    height: auto;
    width: auto;
  }

  .history-panel {
    width: auto;
    height: auto;
  }
}