$background-color: #c9cefa;
$card-drop-shadow: #00000040;

main {
  margin-left: 250px;
  padding: 10px;
  background-color: $background-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 95%;
  height: 12em;
  max-height: 12em;
  box-shadow: 5px 4px $card-drop-shadow;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.budget-num-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}