
$background-color: #E8E9EB;
$sidebar-width: 100px;

.budgets-container {
  margin-left: $sidebar-width;
  padding: 10px;
  height: auto;
  background-color: $background-color;
}

@media (max-width: 768px) {
  .budgets-container {
    margin-left: 0;
  }
}