
$background-color: #F9FAFB;
$sidebar-width: 80px;
$header-height: 70px;

.budgets-container {
  margin-top: $header-height;
  margin-left: $sidebar-width;
  padding: 10px;
  height: 100vh;
  background-color: $background-color;
}

@media (max-width: 768px) {
  .budgets-container {
    margin-left: 0;
    margin-top: $header-height - 10px;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .budgets-container {
    margin-left: 80px;
  }
}