<!-- Add New Saving Transaction Modal -->
<div 
  #updateSavingTransactionModal
  class="modal fade" 
  data-bs-backdrop="static" 
  data-bs-keyboard="false" 
  tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Update Saving Transaction</h1>
          <button 
            type="button" 
            class="btn-close" 
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="transactionForm">
            <label for="savings_action">Transaction Type</label>
            <select 
              formControlName="savings_action" 
              class="form-select mb-3"
              id="savings_action">
              <option selected disabled>-- Select Transaction Type --</option>
              <option value="Deposit">Deposit</option>
              <option value="Withdrawal">Withdrawal</option>
            </select>

            @if (transactionForm.get('savings_action')?.touched &&
              transactionForm.get('savings_action')?.invalid) {
                @if( transactionForm.get('savings_action')?.errors?.['required']) {
                  <div class="text-danger mb-3">
                    Transaction Type is required.
                  </div>
                }
              }

            <label for="amount">Amount</label>
            <div class="input-group mb-3">
              <span class="input-group-text fw-bold">&#8369;</span>
              <input 
                formControlName="amount"
                class="form-control"
                id="amount"
                type="number" 
                min="0"/>
            </div>

            @if (transactionForm.get('amount')?.touched &&
              transactionForm.get('amount')?.invalid) {
                @if (transactionForm.get('amount')?.errors?.['required']) {
                  <div class="text-danger mb-3">
                    Amount is required.
                  </div>
                } @else if (transactionForm.get('amount')?.errors?.['min']) {
                  <div class="text-danger mb-3">
                    Amount must be at least 0.01.
                  </div>
                }
            }

            <label for="transaction_date">Transaction Date</label>
            <input 
              formControlName="transaction_date"
              class="form-control mb-3"
              id="transaction_date"
              type="date"/>

            @if (transactionForm.get('transaction_date')?.touched &&
              transactionForm.get('transaction_date')?.invalid) {
                @if (transactionForm.get('transaction_date')?.errors?.['required']) {
                  <div class="text-danger mb-3">
                    Transaction Date is required.
                  </div>
                } 
            }

            <label for="description">Description</label>
            <textarea 
              formControlName="description"
              class="form-control"
              id="description"
              rows="3"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-secondary"
            (click)="closeModal()">
              Close
          </button>
          <button 
            type="button" 
            class="btn btn-primary"
            (click)="updateTransaction()">Update Transaction</button>
        </div>
      </div>
    </div>
</div>