@use '../../../styles/mixins' as m;

$white-bg: #f9f9f9;
$form-border: #ccc;

main {
  @include m.page-layout(30px, auto);
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
  border: 1px solid $form-border;
  border-radius: 8px;
  background-color: $white-bg;
}

.first-row, .second-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  justify-content: space-between;

  input[type="text"] {
    width: 320px;
  }

  input[type="number"] {
    width: 310px;
  }

  input[type="date"] {
    width: 310px;
  }

  select {
    width: 320px;
  }
}

@media (max-width: 320px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }
}