.categories-panel-container {
  margin: 20px auto 0 auto;
  max-width: 1000px;
  height: auto;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.card {
  padding: 20px;
}

.card-header {
  padding: 20px;
  
  h2 {
    text-align: center;
  }
}

@media(max-width: 768px) {
  .categories-panel-container {
    margin: 10px;
    height: 100%;
  }

  .card {
    padding: 10px;
  }

  .card-header {
    padding: 10px;

    h2 {
      font-size: 1.5em;
    }
  }

  .chart-scroll-container {
    width: 100%;
    overflow-x: auto;
  }

  .chart-container {
    position: relative;
    width: 800px;
    height: 65vh;
  }
}